@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto+Condensed:wght@300&family=Varela&family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../assests/background.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#board{
    background: linear-gradient(rgb(207, 14, 11),rgb(6, 89, 117));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid rgb(115, 9, 9);

    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background:linear-gradient(rgb(200, 8, 8),rgb(140, 172, 10));
    border: 0.5px solid purple;
    transform: scale(1.05);
    border-radius: 1px;
    
}
.snake{
    background-color:rgb(17, 2, 17);
    border: .15vmin solid white;
    border-radius: 2px;
    
    
}
.food{
    background:linear-gradient(red,black);
    border: .25vmin solid black;
    border-radius: 2px;
    
}

#scoreBox{
    position:absolute;
    top:9px;
    right:40px;
    font-size:15px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

#highScoreBox{
    position:absolute;
    top:25px;
    right:10px;
    font-size:15px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;

}